<!DOCTYPE html>

<!--<html> <img src="./image/経路探索20251.png" width="50%"> -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="./css/styles.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>メール内容を変更しました | 予約注文システム</title>
</head>

<body><center>
	<h1>✅メール内容を変更しました。</h1>
	<button><a th:href="@{/list}">管理者メニューに戻る</a></button></center>
</body>

</html>