<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>異常発生</title>
    <link rel="stylesheet" href="./css/styles.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body><center><div class="colore">
	<h1><div th:text="'ページに異常が発生しました。'"></div></h1>
	<div th:text="'404の場合はトップ(/index)へ戻ってみてください。500の場合は製作者にお問い合わせください。'"></div></div></center><br>
 
 
  <div th:text="'エラー名: ' + ${error}"></div>
  <div th:text="'ステーションコード: ' + ${status}"></div>
  <div th:text="'発生時刻: ' + ${timestamp}"></div>
  <div th:text="'エラー内容: ' + ${message}"></div>
  <div th:text="'trace: ' + ${trace}"></div>
  <div th:text="'パス: ' + ${path}"></div>
</body>
</html>