<!DOCTYPE html>

<!--<html> <img src="./image/経路探索20251.png" width="50%"> -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="./css/styles.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>削除確認 | 予約注文システム</title>
</head>

<body><center>
	<h1><img src="./image/i2.png" width="3.5%">　注文履歴を削除します。よろしいですか？</h1>
	<button2><a th:href="@{/delete}">　注文履歴を削除する　</a></button2>
	※押すと消えます。<br><br>
	<button><a th:href="@{/list}">管理者メニューに戻る</a></button></center>
</body>

</html>